.header
    .container 
        .header__row 
            .header__title
                span Shop All
                span Save on Sets
                span Plastic Offsets
            .header__title
                span.logo1 by
                span.logo2 Humankind 
            .header__title
                span Free shipping,
                span always.  
                span Account
                span Cart