.main 
    .container
        .main__content
            .main__title 
                span Our best-selling refillable deodorant, in a new scent for summer.
                span Shop Lemongrass
            .main__btn
                button Shop Now