.section2
    .container
        .section2__content 
            img(src="./assets/imgs/access.png", alt="")
            .section2__title
                h2 Get early access to new products by signing up for bH texts.
                span  Sign Up for Texts