.section2.container
    .section2__img
        img(src="../assets/imgs/access.png", alt="")
    .section2__title
        h2 Get early access to new products by signing up for bH texts.
    a Sign Up for Texts
//исправить