.section4
    .container
        .section4__inner
            .section4__img 
                img(src="./assets/imgs/formula.png", alt="")
            .section4__content 
                .section4__title
                    h3 Formulated with purpose, designed or impact.
                    h3 Our products are made with clean ingredients — sourced and formulated for your body and our planet.
                .section4__description 
                    span learn more