include ../mixins/card
.section5.container
  .section1__title "Beautifully designed bathroom essentials in solid, no-waste packaging and refillable containers."
  +card({
  background: 'background-image: url(../assets/imgs/card5.png)',
  title: 'Toothpaste - $15',
  description: '100% natural toothpaste in tablet form, designed to polish and strengthen your teeth without the plastic waste.'
  })      
  +card({
  background: 'background-image: url(../assets/imgs/card6.png)',
  title: 'Deodorant - $15',
  description: 'Natural, aluminum-free deodorant in a revolutionary, refillable container designed to reduce plastic waste.'
  })  
  +card({
  background: 'background-image: url(../assets/imgs/card7.png)',
  title: 'floss - $15',
  description: '100% biodegradable floss in a durable, refillable container designed to reduce the single-use plastic in your oral care routine.'
  })  
  +card({
  background: 'background-image: url(../assets/imgs/card8.png)',
  title: 'hand sanitizer — $15',
  description: 'A moisturizing hand sanitizer designed to reduce single-use plastic waste while on the go. 65% alcohol.'
  })
       