.section3
    .container
        .section3__inner
            .section3__content
                    .section3__title
                        h3 EVERY DAY, 28,000 TONS of single-use plastic is disposed into our oceans.
                        h3 Starting today, you can fight this flow of plastic waste, just by getting ready in the morning.
                    .section3__description
                        span The Plastic Crisis
            .section3__img   
                img(src="../assets/imgs/ecology.png", alt="")